<div class="col-xs-12">
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-xs-12" formArrayName="orderItems">
        <div class="row" *ngFor="let orderItem of getControls(); let i = index" [formGroupName]="i" style="margin-top: 10px;">
          <div class="col-xs-4">
            <input type="text" class="form-control" formControlName="itemName">
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" formControlName="itemService">
          </div>
          <div class="col-xs-4">
            <input type="text" class="form-control" formControlName="itemPrice">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-success" (click)="onAddItem()">Add Item</button>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>
